<section id="killers" class="col-md-8">
  <h1>Characters</h1>
  {{#each killer in model.killers}}
    <div class="killer">
      <div class="name">{{killer.name}}: {{killer.number}}</div>
      <div class="cost">Cost: {{killer.cost}} pts</div>
      <div class="buy"><button class="btn btn-success" {{action 'buyOne' killer}}>Buy</button>
    </div>
  {{/each}}
</section>
