<ul class='nav nav-pills nav-stacked col-xs-3'>
	{{#each model.killers}}
		{{#link-to 'killer' this.id tagName="li"}}<a {{bind-attr href="view.href"}}>{{name}}</a>{{/link-to}}
	{{/each}}
</ul>

{{outlet}}
